<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Администраторы SignOffline</title>
</head>
<body>
    {% include('header.html') %}

    <main class="main-content">
        <h1>Админка</h1>

        <p>Пространство администраторов SignOffline. Ответы на частые вопросы</p>

        <br>
        <h4>Q: А как зарегаться новым админам?</h4>
        <p>A: Пока такой возможности нет. Ждите - как выкатимся в прод, добавим функционал</p>

        <br>
        <h4>Q: Почему нам всё время говорят про дни рождения и какой-то там парадокс?</h4>
        <p>A: Парадокс в том, что тебе вроде бы и не должно быть столько лет, но свечек на торте всё больше</p>

        <br>
        <h4>Q: Какой флаг давать решившим таску?</h4>
        <p>A: &nbsp; <code style="display: inline">ctf{b0iz_sh0u1d_h4v3_L1s73n3d_t0_dkb}</code>&nbsp;. Но зачем вы спрашиваете, всё равно никто не решит</p>

        <br>
        <br>
        <br>
        <br>
    </main>
</body>
</html>