<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>SignOffline</title>
</head>
<body>

    {% include('header.html') %}

    <main class="main-content">
        <h1>SignOffline — удобство и безопасность</h1>
        <p>Ваш верный помощник для быстрой и удобной подписи в режиме оффлайн. Подписывайте документы, заявки, токены... С нашим сервисом всё нужное у вас под рукой!</p>
        <img src="{{ url_for('static', filename='images/floating-head.svg') }}" class="landing-image">

        <br>
        <br>

        <h2>&#128172; Как это работает?</h2>
        <p>1. <b>Зарегистрируйтесь на платформе</b> — мы выпустим для вас уникальную пару ключей</p>
        <p>2. <b>Проверьте свои токены</b> по публичному ключу в <a href=/jwt-editor>Редакторе JWT</a></p>
        <p>3. <b>Подпишите документы оффлайн</b>: приложение работает даже без интернета</p>
        <p>4. <b>Готово!</b> Получите подписанный документ и делитесь им с кем угодно</p>
        
        <br>

        <h2>&#128161; Фокус на безопасности</h2>
        <p>При работе с подписанием все вычисления происходят прямо на вашем устройстве: сервис только передает открытый ключ для проверки подписи. </p>
        
        <br>

        <img src="{{ url_for('static', filename='images/cake.png') }}" class="landing-image">

        <br>
        <br>
    </main>

    {% include('footer.html') %}

</body>
</html>