<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Вход</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .footer {
            background-color: darkgrey;
            color: white;
            text-align: center;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    {% include('header.html') %}

    <main class="main-content">
        <form id="login-form" class="form-container">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" placeholder="Логин" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="******" required>
            </div>
            <button type="submit" class="btn red">Войти</button>
        </form>
        <br>
    </main>

    {% include('footer.html') %}

    <script src="{{ url_for('static', filename='js/redirect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('#login-form').on('submit', function(e) {
            e.preventDefault();

            const username = $('#username').val();
            const password = $('#password').val();

            $.ajax({
                type: 'POST',
                url: '/api/auth/login',
                contentType: 'application/json',
                data: JSON.stringify({ username, password }),
                success: function(response, textStatus, jqXHR) {
                    if (jqXHR.status === 200) {
                        const message = jqXHR.responseJSON.message;
                        showPopup(message);
                        verifyAndRedirect();
                    }
                },
                error: function(jqXHR) {
                    const message = jqXHR.responseJSON.message || 'Произошла ошибка. Попробуйте ввести другие данные';
                    showPopup(message);
                }
            });
        });
    });
</script>
</body>
</html>